
{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}



{%block styles%}
{{super()}}
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-11">
                <div class="display_quote">
                    <div class="display-quote">
                    {% if quote %}
                   {{quote.quote}}
                   {{quote.author}}
                    {% endif %}
                </div>
            
               <div class="blog-form">
                   <a href="{{url_for('main.newblog')}}"><button class="newpost" type="submit">Add New Post</button></a>
                   
               </div>
               {% for post in posts %}
               {{post.content}} <br>
              

               {% if current_user.is_authenticated %}
    

                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Comments
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{wtf.quick_form(CommentForm)}}
                    </div>
                </div>

                   {% endif %}
                   {% for comment in comments %}
                   {{comment.comment}}
                   <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Delete Comments <br>
                    </button>
                        
                    
                   {% endfor %}
               {%endfor%}
           </div>
           
            <div class="col-md-3"></div>
        </div>
            

       
</div>

<style>
    *{
        font-family: 'Lobster Two', cursive;
        font-size: 34px;
    }
    body{
        background-color: rgb(31, 126, 126);
        color: white;
    }
    .btn{
      background-color: rgb(175, 173, 173);
    }
    .navbar{
        background-color: rgb(143, 121, 125);
        color: white;
        border: none;
    }
    .navbar a{
    color: white;
    }
    .blog-form button{
        background-color:rgb(175, 173, 173);
        color: white;
        border: none;
        border-radius: 4px;
    }
    .dropdown{
        color: white;
    }
    .display_quote button{
        background-color: rgb(175, 173, 173);
    }
    .navbar-header a{
font-size: 38;
    }
</style>
{% endblock %}